.navbar-brand {
  padding-right: 0.5rem;
}
a:hover {
  background-color: bisque;
  height: 100%;
  box-sizing: content-box;
}
.btn {
  color: black;
  border-color: black;
}
.btn:hover {
  background-color: black;
  border-color: black;
}
.nav-link {
  padding-right: 1rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}
a {
  text-decoration: none;
  color: black;
}
footer {
  background-color: beige;
}
.ster {
  display: none;
}
@media screen and (max-width: 48rem) {
  .ster {
    display: block;
  }
}
